#projects {
    height: 300vh;
    background-image: url(/Rework/assets/images/sect3.png);
    margin: 0px;
    padding: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    color: var(--color-brown);
    box-shadow: 0px 0 10px rgb(0, 0, 0, 1);
}

.detail {
    color: var(--color-light);
    font-family: var(--font-segoe-ui);
    font-size: 2rem;
    text-align: center;
    margin: 10px 0px;
    padding: 20px;
    background-color: var(--color-brown);
}

.workContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ssc img{
    height: 20rem;
    width: 25rem;
    margin: 20px;
    border: 6px outset var(--color-brown);
    border-radius: 2rem 5rem;
    image-rendering: optimizeQuality;
}

.sscTitle {
    font-family: var(--font-tahoma);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
}

.link {
    font-family: var(--font-segoe-ui);
    font-size: 2rem;
    text-align: center;
}

.link a {
    margin: 5px;
    padding: 10px;
    color: var(--color-lightpink);
    background-color: var(--color-brown);
    border: solid 5px var(--color-dark-brown);
    border-radius: 4rem;
    transition: ease-in-out 0.5s;
}

.link a:hover {
    padding: 14px;
    color: var(--color-dark-brown);
    background-color: var(--color-dimpink);
    border: ridge 5px var(--color-dark-brown);
    transition: ease-in-out 0.5s;
}

@media only screen and (max-width: 900px) {
    .ssc img{
        height: 15rem;
        width: 20rem;
    }

    .sscTitle {
        font-size: 2rem;
    }

    .link {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 790px) {
    .ssc img{
        height: 14rem;
        width: 19rem;
    }

    .detail {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 770px) {
    .ssc img{
        height: 13rem;
        width: 18rem;
    }

    .detail {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 697px) {
    .ssc img{
        height: 12rem;
        width: 18rem;
    }
}

@media only screen and (max-width: 685px) {
    .ssc img{
        height: 10rem;
        width: 15rem;
    }
}

@media only screen and (max-width: 570px) {
    .ssc img{
        height: 9rem;
        width: 14rem;
    }
}